<h1>Order Details</h1>

<div class="container">   
<div class="float-md-right" >
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#user_order">
  <%= @invited.length.to_s+' friends are invented'%>
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#user_order">
  <%= @joined.length.to_s+' friends are joineded'%>
</button>
</div>
<br/><br/><br/>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Comment</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
   <%i = 0 %>
    <% @orderDetails.each do |detail| %>
        <tr>
            <td><%= i = i+ 1 %></td>
            <td><%= detail.user.name %></td> 
            <td><%= detail.item_name %></td>
            <td><%= detail.amount %></td>
            <td><%= detail.price %></td>
            <td><%= detail.comment %></td>
            <td>
            <% if detail.user.id == current_user.id  %>
              <%= link_to "delete", "/user_orders/#{detail.id}", remote: true, method: :delete , class:"remove",
              data: { confirm: 'Are you sure?'} %> 
             <% end %>
             </td>
        </tr>
    <% end %>
  </tbody>
</table>

<%# order details form %>
<div class="well">

    <%= form_with(url: "/user_orders",local:true, class: "form-inline") do |f|  %>
        <%= hidden_field_tag(:user_id, current_user.id ) %>
        <%= hidden_field_tag(:order_id, @order.id) %>
        <%= f.text_field(:item_name, class:"form-control" , placeholder:"item...." ) %>
        <%= f.number_field :amount, class: "form-control", placeholder: "amount",min: 0, step: 1  %>
        <%= f.number_field :price, class: "form-control", placeholder: "price",min: 0, step: 0.5  %>
        <%= f.text_field(:comment, class:"form-control" , placeholder:"comment...." ) %>
        <%= f.submit( 'add', class:"btn btn-info")  %>
    <% end %>
    
 </div>
</div>
    <% if $errors.length != 0 %> 
          <div class="alert alert-danger">
            <ul>
            <% $errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <% $errors = [] %>

  </div>
</div>

<!-- Modal -->
<div class="modal" id="user_order" tabindex="-1" role="dialog" aria-labelledby="user_orderTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle"> Invitations </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h4 class="h">Friends invented:</h4>
        <%if @invited.empty?%>
          <p>No friends are invited </p>
        <% else %>
        <div class="d-flex flex-wrap ">
            <% @invited.each do |friend| %> 
             <div class="card ml-3 mb-2" style="width:30%;" >
                <div class="d-flex p-1" >  
                  <div class="w-25">
                    <img src="/images/icon.jpg" class="img-fluid">
                  </div>
                  <div class="card-body p-0">
                    <h4 class="card-title m-2 p-0"><%= friend.user.name %></h4>
                    <%if current_user.id == @order.user_id%>
                      <p class="card-text m-2 p-0"><%= link_to "delete", "/invites/#{friend.id}", remote: true, method: :delete , class:"remove"%></p>                 
                    <%end%>
                  </div>
                </div>  
              </div>
            <% end %>
        </div> 
      <% end %>

        <h4 class="h">Friends joined:</h4>
         <%if @joined.empty?%>
          <p>No friends join </p>
        <% else %>
        <div class="d-flex flex-wrap ">
        <% @joined.each do |friend| %> 
             <div class="card ml-3 mb-2" style="width:30%;" >
              <div class="d-flex p-1" >  
                  <div class="w-25">
                    <img src="/images/icon.jpg" class="img-fluid">
                  </div>
                  <div class="card-body p-0">
                    <h4 class="card-title m-2 p-0"><%= friend.user.name %></h4>
                  </div>
                </div>
              </div>
            <% end %>
         </div> 
      <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

