<h1>Friends</h1>
<%= form_for(@newfriend,url: :add_new_friend) do |form| %>
  <% if @newfriend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% newfriend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
    <%= form.submit %>
  </div>
<% end %>


<lable>your Friends</lable>
<div id="future" class="border container col-12 row justify-content-center">
  <% @friend.each do |friend| %>
    <div class="card m-3 col-3" >
      <div class="row no-gutters col-12">
        <div class="col-md-4 mt-3 ml-1">
          <img src="https://www.tutorialrepublic.com/examples/images/avatar/2.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title"><%= friend.name %></h5>
            <%# link_to 'Edit', edit_comment_path(comment)  %>
            <h5 class="card-title"><a href="removeFriend/id">unFriend</a></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
