<h1>Friends</h1>
<%= form_with(url: "/search", method: "get") do %>
  <div class="field">
    <%= label_tag(:q, "your friend email:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("add") %>
  </div>
  <div class="actions">
  </div>
<% end %>
<lable>your Friends</lable>
<div id="future" class="border container col-12 row justify-content-center">
  <% @friend.each do |friend| %>
    <div class="card m-3 col-3" >
      <div class="row no-gutters col-12">
        <div class="col-md-4 mt-3 ml-1">
          <img src="https://www.tutorialrepublic.com/examples/images/avatar/2.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title"><%= friend.name %></h5>
            <%# link_to 'Edit', edit_comment_path(comment)  %>
            <h5 class="card-title"><a href="removeFriend/id">unFriend</a></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
