<p id="notice"><%= notice %></p>

<h1>Orders</h1>


<%= link_to 'New Order', new_order_path, class: "btn btn-primary text-light mb-2"%>

<table class="table table-bordered justify-content-center text-center align-middle">
  <thead class="thead-dark">
    <tr>
      <th class="text-center">Meal</th>
      <th class="text-center">Restaurant</th>
      <th class="text-center">Menu</th>
      <th class="text-center">Status</th>
      <th class="text-center" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class='align-middle'>
          <% if(order.meal == 0) %>
            Breakfast
          <% else %>
            Lunch
          <% end %>
        </td>
        <td class='align-middle'> <%= order.restaurant %></td>
        <td class='align-middle'> <img src="images/menus/<%= order.menu %>" width=200 /></td>
        <td class='align-middle'>
          <% if(order.status == 0) %>
            Waiting
          <% else %>
            Finished
          <% end %>
        </td>
        <td class="align-middle"><%= link_to 'View', order, class: "btn btn-primary text-light" %></td>
        <% if(order.status == 0) %>
          <td class="align-middle">
              <%= form_tag( "/orders/#{order.id}/finish_order" , method: :post)%>
                <%= submit_tag( "Finish", class: "btn btn-success text-light")%>
          </td>
          <td class="align-middle"><%= link_to "Cancel", order, method: :delete, class: "btn btn-danger text-light"%></td>
        <% else%>
          <td class="align-middle"><%= link_to "Delete", order, method: :delete, class: "btn btn-danger text-light"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
